.glow {
    position: absolute;
    z-index: -10;
    top: -25%;
    width: 200vw;
    max-width: 2098px;
    height: 200vh;
    max-height: 1102px;
    border-radius: 50%;
    background:
        radial-gradient(93.02% 134.82% at 105.38% -92.06%, rgba(113, 244, 106, 0.20) 0%, rgba(152, 186, 150, 0.00) 100%),
        radial-gradient(27.13% 8.77% at 18.58% -12.67%, rgba(152, 186, 150, 0.20) 0%, rgba(152, 186, 150, 0.00) 100%),
        radial-gradient(44.1% 12.16% at 109.38% 22.44%, rgba(152, 186, 150, 0.20) 0%, rgba(152, 186, 150, 0.00) 100%),
        radial-gradient(48.26% 15.69% at 40.17% -15.61%, rgba(152, 186, 150, 0.20) 0%, rgba(152, 186, 150, 0.00) 100%),
        radial-gradient(93.89% 42.23% at 78.89% -5.22%, rgba(152, 186, 150, 0.20) 0%, rgba(152, 186, 150, 0.00) 100%),
        linear-gradient(179deg, #23232F -71.96%, #050506 104.64%);
    box-shadow: 0px -39px 93.7px 0px #040506 inset;
    opacity: 0.7;
    animation: glowPulse 5s ease-in-out infinite;
}

@keyframes glowPulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}