@import '../../../../assets/mixins/responsive_font.scss';
@import '../../../../assets/styles/_variables/breakpoints.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90dvh;
    
    background-image: url(../../../../assets/images/pic/bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    
    .coll {
        position: relative;
        display: flex;
    }

    @media (max-width: $lg) {
        margin: 64px 0;
        height: max-content;
        align-items: flex-start;

        .coll {
            align-items: flex-start;
            gap: 24px;
        }
    }

    h1 {
        @include responsive_font(88, 47);
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -4.4px;
        color: #E3FFEC;
        text-align: center;

        @media (max-width: $lg) {
            text-align: left;
        }

        span {
            letter-spacing: -4.4px;
            background: var(--primary, linear-gradient(180deg, #00FF5D 50%, #00D44E 100%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    p {
        @include responsive_font(16, 14);
        font-weight: 400;
        color: rgba(216, 255, 238, 0.85);
        text-align: center;

        @media (max-width: $lg) {
            text-align: left;
        }
    }

    .ellipse {
        position: absolute;
        top: 50%;
        width: 235px;
        height: 83px;
        flex-shrink: 0;
        background-color: #00FF5D;
        border-radius: 50%;
        animation: glow 1.5s ease-in-out infinite;
        filter: blur(111px);
        position: relative;

        @keyframes glow {
            0% {
                box-shadow: 0 0 10px #00FF5D, 0 0 20px #00FF5D, 0 0 30px #00FF5D, 0 0 40px #00FF5D;
            }

            50% {
                box-shadow: 0 0 15px #00FF5D, 0 0 25px #00FF5D, 0 0 35px #00FF5D, 0 0 50px #00FF5D;
            }

            100% {
                box-shadow: 0 0 10px #00FF5D, 0 0 20px #00FF5D, 0 0 30px #00FF5D, 0 0 40px #00FF5D;
            }
        }
    }
}