@import './reset.scss';
@import '../fonts/font.scss';
@import './_variables/colors.scss';
@import './_variables/breakpoints.scss';
@import '../mixins/responsive_font.scss';


body {
  @extend .font;
  @include responsive-font(16, 10);
  font-weight: 500;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
  color: #E3FFEC;
  background-color: #050506;
  -webkit-tap-highlight-color: transparent;
  transition:
    color 0.25s ease-in-out 0s,
    background-color 0.25s ease-in-out 0s;

    overflow-x: hidden;
}

main {
  margin-top: 75px;
}